<div class="mg-account">
  <div class="mg-account__inner">
    <h1 class="mg-account__title">{{ 'customer.register.title' | t | default: 'Create account' }}</h1>
    {%- form 'create_customer', class: 'mg-account__form' -%}
      {%- if form.errors -%}<div class="mg-account__errors">{{ form.errors | default_errors }}</div>{%- endif -%}
      <div class="mg-contact__row">
        <label class="mg-field"><span>{{ 'customer.first_name' | t | default: 'First name' }}</span><input type="text" name="customer[first_name]" autocomplete="given-name"></label>
        <label class="mg-field"><span>{{ 'customer.last_name' | t | default: 'Last name' }}</span><input type="text" name="customer[last_name]" autocomplete="family-name"></label>
      </div>
      <label class="mg-field"><span>{{ 'customer.email' | t }}</span><input type="email" name="customer[email]" autocomplete="email" required></label>
      <label class="mg-field"><span>{{ 'customer.password' | t }}</span><input type="password" name="customer[password]" autocomplete="new-password" required></label>
      <button type="submit" class="mg-btn mg-btn--primary">{{ 'customer.register.submit' | t | default: 'Create account' }}</button>
      <p class="mg-account__links">{{ 'customer.register.have' | t | default: 'Already have an account?' }} <a href="{{ routes.account_login_url }}">{{ 'customer.login.sign_in' | t }}</a></p>
    {%- endform -%}
  </div>
</div>
